table, td, th{
    border: 1px solid black;
    text-align: center;
    color: rgb(184, 0, 0);
}

.titulo{
    background-color: rgb(44, 160, 44);
}

.naranja{
    background-color: rgb(255, 205, 112);
}

.amarillo{
    background-color: rgb(255, 255, 132);
}

.fondo{
    background-image: url(imagenes/huellas.jpg);
}

table{
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}